In [1]:
import os

import pandas as pd
import numpy as np

In [2]:
data_path = "./data/count_animals/submissions"
files = os.listdir(data_path)
files = [file for file in files if file != "sub_0.csv"]
files

['sub_5.csv', 'sub_1.csv', 'sub_2.csv', 'sub_4.csv']

In [3]:
data = pd.read_csv(os.path.join(data_path, "sub_0.csv"))
data["count"] = 0
data

      count
0         0
1         0
2         0
3         0
4         0
...     ...
4995      0
4996      0
4997      0
4998      0
4999      0

[5000 rows x 1 columns]

In [4]:
for file in files:
    sub = pd.read_csv(os.path.join(data_path, file))
    print(sub["count"].min())
    data["count"] += sub["count"]

data["count"] /= len(files)

1.0
1.0
1.0
1.0

In [5]:
data

         count
0     1.143161
1     4.020924
2     4.759608
3     3.966226
4     2.663598
...        ...
4995  1.974984
4996  3.266589
4997  2.124186
4998  3.137572
4999  2.741750

[5000 rows x 1 columns]

In [6]:
data.to_csv("./data/count_animals/submissions/sub_6.csv", index=False)