In [1]:
import numpy as np
import pandas as pd

from scipy.stats import norm

from itertools import combinations

In [2]:
data_path = "./data/tangerines.csv"
data = pd.read_csv(data_path)
data

   x_1  x_2  x_3  x_4
0    1   -1    3    1
1    3    4    3    0
2    7    1    2    1
3    3    6    0    0
4   -2    1    0    0
5    4    2    0    1
6    5    4    3    1
7    4    2    3    0
8   -3    6    4    0
9    3    3    3    1

In [11]:
for row in data.values.tolist():
    p1 = norm.pdf(row[0], 0, np.sqrt(1))
    p2 = norm.pdf(row[1], 0, np.sqrt(2))
    p3 = norm.pdf(row[2], 0, np.sqrt(2))
    pp1 = p1 * p2 * p3
    p1 = norm.pdf(row[0], 6, np.sqrt(1))
    p2 = norm.pdf(row[1], 6, np.sqrt(1))
    p3 = norm.pdf(row[2], 6, np.sqrt(1))
    pp2 = 1 * p2 * p3
    print(p1 > p2)

True
False
True
False
False
True
True
True
False
False

In [ ]:
1 2 1 2 2 1 1 1 2 2